@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkgrey: #4f4f4f;
  --lightgrey: #e0e0e0;
  --mediumgrey: #898a88;
  --white: #ffffff;

  --p1: 16px;
  --p2: 14px;
  --p3: 12px;
  --rate: 10px;

  --p1_lineHeight: 19.36px;
  --p2_lineHeight: 14.52px;
  --p3_lineHeight: 14.52px;
  --rate_lineHeight: 10px;

  --h3: 32px;
  --h3_lineHeight: 37.82px;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  background-color: var(--darkgrey);
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}
